<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"
      >Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
<!--        <div *ngIf='onlyOdd'>-->
<!--          <li-->
<!--            *ngFor='let even of evenNumbers'-->
<!--            class="list-group-item"-->
<!--            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'green' : 'yellow'}"-->
<!--          >{{ even }}</li>-->
<!--        </div>-->
        <div *ngIf='onlyOdd'>
          <li
            *ngFor='let odd of oddNumbers'
            [ngClass]='{odd: odd % 2 !== 0}'
            class="list-group-item"
          >{{ odd }}</li>
        </div>
        <div *appUnless='onlyOdd'>
          <li
            class="list-group-item"
            [ngClass]='{odd: even % 2 !== 0}'
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'green' : 'yellow'}"
             *ngFor='let even of evenNumbers'>
             {{ even }}</li>
        </div>
      </ul>
      <div class='take-color-wrapper'>
        <div (click)="colorChoice('greenyellow')" class='take-color color1'></div>
        <div (click)="colorChoice('#aaada6')" class='take-color color2'></div>
        <div (click)="colorChoice('#2b40a9')" class='take-color color3'></div>
        <div (click)="bGColorChoice('#ff2fc4')" class='take-color color4'></div>
        <div (click)="bGColorChoice('#42efd2')" class='take-color color5'></div>
        <div (click)="bGColorChoice('#8f43ee')" class='take-color color6'></div>
      </div>
      <p appBasicHighlight>Style me with Basic directive!</p>
      <p
        appBetterHighlight
        [defaultColor]="'yellow'"
        [defaultTextColor]="'grey'"
        [highlightColor]="highColor"
        [highlightTextColor]="highTextColor"
      >Style me with better directive!</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase='5'>Value is a 5</p>
        <p *ngSwitchCase='10'>Value is a 10</p>
        <p *ngSwitchCase='100'>Value is a 100</p>
        <p *ngSwitchDefault>Value is a Default</p>
      </div>
    </div>
  </div>
</div>
